html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.title {
  color: red;
}

.latar {
  background: url("../public/anime.jpg");
}

.navbar-style {
  background: white;
  padding: 10px;
  opacity: 50%;
}

.body {
  background: teal;

  height: 100%;
}
.chester {
  color: yellow;
  text-decoration: none;
}

.button {
  btn-bg: yellow;
}
